<html>
<body>
<h1>{{ subject_name }} Questions</h1>
<form>
	<div id="question-content">
	<h2>Q</h2><h2 class="questionid">{{ques_list.0.id}}</h2><h2> {{ques_list.0.content}}</h2>
	<ol>
		{% for opt in opt_list %}
		<h3><input type="radio" name="{{ques.id}}" value="{{opt.id}}">{{opt.content}}</input></h3>
		{% endfor %}
	</ol>
	&nbsp&nbsp&nbsp&nbsp&nbsp<input type="submit" value="Submit" onclick="Dajaxice.questionnaire.updateprofile(Dajax.process, {'question':$('#window').contents().find('h2.question')[0].innerHTML,'option':$('input:radio:checked')})">
</div>
</form>
</body>
</html>