<form method="POST">
	{% csrf_token %}
	<div id="question-content">
	<h2>Q<span class="questionid">{{ question.id }}</span>.<span class=questioncontent> {{ question.content }} </span></h2>
	<ol>
		{% for opt in opt_list %}
		<h3><input type="radio" name="{{ question.id }}" value="{{opt.id}}">{{ opt.content }}</input></h3>
		{% endfor %}
	</ol>
	<input type="submit" style="margin-left:50px;" value="Submit" 
	onclick="Dajaxice.questionnaire.response_user(Dajax.process, {'question':{{ question.id }},'option':$('input:radio:checked')}); return false;">
</div>
</form>
