{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block main %}
<div class="container">
<div id="login">
<form role="form" name="LoginForm" action="/login/" method="post">
	{% csrf_token %}
	{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
  <strong>{{message}}</strong>
	<div class="form-group">
		<label for="username">Username</label>
			<input type="text" class = "form-control" id="username" name="username"  placeholder="Enter username">
	</div>
	<div class="form-group">
		<label class="control-label" for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="Password" class="form-control">
		</div>
			<button type="submit" class="btn btn-default" id="submit">Login</button>
</form></div>
<p>{% trans "Forgot password" %}? <a  href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a id ="register" href="/register/">{% trans "Register" %}</a>!</p>
</div>
<script>
function speakUsername(event) {
var create_email = false;
var final_transcript = '';
var recognizing = false;
var ignore_onend;
var start_timestamp;
if (!('webkitSpeechRecognition' in window)) {
  upgrade();
} else {
  var recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.interimResults = false;

  recognition.onstart = function() {
    recognizing = true;
  };

recognition.onend = function() {
    recognizing = false;
    console.log("gsr stopped")
    speakPassword();
    };

  recognition.onresult = function(event) {
    var interim_transcript = '';
    var elem = document.getElementById("username")
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
      } else {
        interim_transcript += event.results[i][0].transcript;
      }
    }
    elem.value= final_transcript;
  };
}




	console.log("in speakusername")
  if (recognizing) {
    recognition.stop();
    return;
  }
  var elem = document.getElementById("username")
  final_transcript = '';
  recognition.start();
  ignore_onend = false;
  elem.value = '';
}
</script>
<script>
function recognisePassword()
{
var create_email = false;
var final_transcript = '';
var recognizing = false;
var ignore_onend;
var start_timestamp;
if (!('webkitSpeechRecognition' in window)) {
  upgrade();
} else {
  var recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.interimResults = false;

  recognition.onstart = function() {
    recognizing = true;
  };

recognition.onend = function() {
    recognizing = false;
    console.log("gsr1 stopped")
    speakLogin();
    };

  recognition.onresult = function(event) {
    var interim_transcript = '';
    var elem = document.getElementById("password")
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
      } else {
        interim_transcript += event.results[i][0].transcript;
      }
    }
    elem.value= final_transcript;
  };
}


startRecognising(event);
function startRecognising(event) {
	console.log("in speakpassword")
  if (recognizing) {
    recognition.stop();
    return;
  }
  var elem = document.getElementById("password")
  final_transcript = '';
  recognition.start();
  ignore_onend = false;
  elem.value = '';
}
}
</script>
<script type="text/javascript" src="/static/jquery/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
<script type="text/javascript" src="/static/js/mespeak/mespeak.js"></script>
<script type="text/javascript" src="/static/js/annyang.min.js"></script>
<script type="text/javascript ">
    meSpeak.loadConfig("/static/js/mespeak/mespeak_config.json");
    meSpeak.loadVoice("/static/js/mespeak/voices/en/en.json");
</script>
<script type="text/javascript">
    function welcome(){
        var count=1;
        var read = new Array();
        console.log("in welcome")
        read.push({"text":"please speak your username and then wait for the next instruction"});
        console.log(read);
        meSpeak.speakMultipart(read);
        speakUsername(event);
    }
    function speakPassword(){
        var count=1;
        var read = new Array();
        console.log("in welcome")
        read.push({"text":"please speak your password and then wait"});
        console.log(read);
        meSpeak.speakMultipart(read);
        recognisePassword(event);
    }
    function speakLogin(){
        var count=1;
        var read = new Array();
        console.log("in speakLogin")
        read.push({"text":"speak login to login to your account or "});
        read.push({"text":"speak reload to reload the page"});
        console.log(read);
        meSpeak.speakMultipart(read);
        startannyang();
       
    }
    function startannyang()
    {
       if (annyang) {
      	// Let's define a command.
        var commands = {
          'log in': function() { submit("submit"); },
          'reload': function() { location.reload(); },
          'register': function() { document.getElementById("register").click(); },
        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
}
    function submit(data){
    	console.log("here")
       		document.getElementById(data).click();
     }
   		window.onload = welcome;
     </script> 
{% endblock %}
