{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block main %}
<div class="container">
<div id="login">
<form role="form" name="LoginForm" action="/login/" method="post">
  {% csrf_token %}
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
  <strong>{{message}}</strong>
  <div class="row">
  <div class="col-lg-4">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username"  placeholder="username">
  </div>
</div>

   <div class="row">
  <div class="col-lg-4">
    <label class="control-label" for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password"  placeholder="password">
</div>
</div>
<hr>
<div class="row">
  <div class="col-lg-4">
 <button type="submit" class="btn btn-default" id="submit">Login</button>
</div>
</div>
</form>
<div>
 <div class="row"> 
<p>{% trans "  Forgot password" %}? <a  href="{% url password_reset_recover %}">{% trans "Reset it" %}</a>!</p></div>
 <div class="row">
<p>{% trans "  Not member" %}? <a id ="register" href="/register/">{% trans "Register" %}</a>!</p></div>
</div>
<script>
function speakUsername(event) {
var create_email = false;
var final_transcript = '';
var recognizing = false;
var ignore_onend;
var start_timestamp;
if (!('webkitSpeechRecognition' in window)) {
  upgrade();
} else {
  var recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.interimResults = false;

  recognition.onstart = function() {
    recognizing = true;
  };

recognition.onend = function() {
    recognizing = false;
    console.log("gsr stopped")
    speakPassword();
    };

  recognition.onresult = function(event) {
    var interim_transcript = '';
    var elem = document.getElementById("username")
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
      } else {
        interim_transcript += event.results[i][0].transcript;
      }
    }
    elem.value= final_transcript;
  };
}




  console.log("in speakusername")
  if (recognizing) {
    recognition.stop();
    return;
  }
  var elem = document.getElementById("username")
  final_transcript = '';
  recognition.start();
  ignore_onend = false;
  elem.value = '';
}
</script>
<script>
function recognisePassword()
{
var create_email = false;
var final_transcript = '';
var recognizing = false;
var ignore_onend;
var start_timestamp;
if (!('webkitSpeechRecognition' in window)) {
  upgrade();
} else {
  var recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.interimResults = false;

  recognition.onstart = function() {
    recognizing = true;
  };

recognition.onend = function() {
    recognizing = false;
    console.log("gsr1 stopped")
    speakLogin();
    };

  recognition.onresult = function(event) {
    var interim_transcript = '';
    var elem = document.getElementById("password")
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        final_transcript += event.results[i][0].transcript;
      } else {
        interim_transcript += event.results[i][0].transcript;
      }
    }
    elem.value= final_transcript;
  };
}


startRecognising(event);
function startRecognising(event) {
  console.log("in speakpassword")
  if (recognizing) {
    recognition.stop();
    return;
  }
  var elem = document.getElementById("password")
  final_transcript = '';
  recognition.start();
  ignore_onend = false;
  elem.value = '';
}
}
</script>
<script type="text/javascript">
    function welcome(){
        console.log("in welcome")
        var uu = new SpeechSynthesisUtterance();
          uu.text ='please speak your username and then wait for the next instruction';
          window.speechSynthesis.speak(uu);
        speakUsername(event);
    }
    function speakPassword(){
        console.log("inpassword")
        var uu = new SpeechSynthesisUtterance();
          uu.text ='please speak your password and then wait';
          window.speechSynthesis.speak(uu);
        recognisePassword(event);
    }
    function speakLogin(){
        console.log("in speakLogin")
        var uu = new SpeechSynthesisUtterance();
          uu.text ='speak login to login to your account or speak reload to reload the page';
          window.speechSynthesis.speak(uu);
        startannyang();
       
    }
    function speakError(){
      
      var status="{{ login_var }}"
        var n = status.localeCompare("False");
        if (n == 0)
        {
         var u = new SpeechSynthesisUtterance();
        u.text = 'Invalid username or password.'
        u.lang = 'en-US';
        u.rate = 0.5;
        window.speechSynthesis.speak(u); 
        }
        welcome();
    }
    function startannyang()
    {
       if (annyang) {
        // Let's define a command.
        var commands = {
          'log in': function() { submit("submit"); },
          'reload': function() { location.reload(); },
          'register': function() { document.getElementById("register").click(); },
          'refresh' :function(){ location.reload();},
          'repeat' :function(){ location.reload();},
          'home': function() { document.getElementById("home").click();},
          'back' :function(){ window.history.back()},
          'help' : function(){ window.speechSynthesis.cancel(); helpme()},

        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
}
    function submit(data){
      console.log("here")
          document.getElementById(data).click();
     }
      window.onload = speakError;
     </script> 
     <script>
  window.onunload=function(){ window.speechSynthesis.cancel();};
  </script>
{% endblock %}
