
{% extends "base.html" %}
{% load i18n %}
{% load dajaxice_templatetags %}
{% block title %}Topics{% endblock %}
{% dajaxice_js_import %}
{% block main %}
     <script type="text/javascript" src="/static/jquery/jquery-1.8.1.min.js"></script>
     <script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
     <script type="text/javascript" src="/static/js/mespeak/mespeak.js"></script>
     <script type="text/javascript" src="/static/js/annyang.min.js"></script>
     <script type="text/javascript ">
      meSpeak.loadConfig("/static/js/mespeak/mespeak_config.json");
      meSpeak.loadVoice("/static/js/mespeak/voices/en/en.json");
     </script>

<div class="container">
{% if topic_content %}
<h1>{{topic}}</h1>
<h3 id="content">{% autoescape off %}{{ topic_content }}{% endautoescape %}</h3>
{% else %}
    <p>No content is available.</p>
{% endif %}
</div>
<script type="text/javascript">
		
		var pause_arr=[];
		var read = []
        var counter;
        var recurseLoop = 0;
        var content=document.getElementById("content");
        var c=content.textContent || content.innerText
        //var result=new Array()
        //result = subject.split(/\r?\n/);
        //read.push({"text":"{{topic}}"});
        //read.push({"text":c});
        var c_split_result = c.split(".");
        function speakContent(){
        for(i = 0; i < c_split_result.length; i++){
        	read.push({"text":c_split_result[i]})
        	pause_arr[i]=c_split_result[i].length
        	console.log(c_split_result[i].length);
        	//console.log(c_split_result[i]);
		}
		setTimeout(function(){meSpeak.speak(c_split_result[0],1,playNext)},pause_arr[i]);
        console.log(read);
        //meSpeak.speakMultipart(read);
        }
        function playNext() {
  			if (++recurseLoop < c_split_result.length) {
    		setTimeout(function(){meSpeak.speak(c_split_result[recurseLoop],1,playNext)},pause_arr[recurseLoop]);
  			}
		}
        window.onload = speakContent;
       if (annyang) {
      // Let's define a command.
        var commands = {
          'Pause': function() {counter=recurseLoop; recurseLoop=c_split_result.length; console.log(recurseLoop); },
          'resume':function() {recurseLoop=counter-1; playNext(); console.log(recurseLoop); },
          'stop' : function() {counter=recurseLoop; 
          	recurseLoop=c_split_result.length; 
          	console.log(recurseLoop);
          	for(i = 0; i < c_split_result.length; i++){
        	meSpeak.stop(c_split_result[i]);
        	//console.log(c_split_result[i]);
		} },
        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    } 
     </script>
{% endblock %}