
{% extends "base.html" %}
{% load i18n %}
{% load dajaxice_templatetags %}
{% block title %}Topics{% endblock %}
{% dajaxice_js_import %}
{% block main %}
     <script type="text/javascript" src="/static/jquery/jquery-1.8.1.min.js"></script>
     <script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
     <script type="text/javascript" src="/static/js/mespeak/mespeak.js"></script>
     <script type="text/javascript" src="/static/js/annyang.min.js"></script>
     <script type="text/javascript ">
      meSpeak.loadConfig("/static/js/mespeak/mespeak_config.json");
      meSpeak.loadVoice("/static/js/mespeak/voices/en/en.json");
     </script>

<div class="container">
{% if topic_content %}
<h1>{{topic}}</h1>
<h3 id="content">{% autoescape off %}{{ topic_content }}{% endautoescape %}</h3>
{% else %}
    <p>No content is available.</p>
{% endif %}
</div>
<script type="text/javascript">
		
		var pause_arr=[];
		var read = []
        var counter;
        var recurseLoop = 0;
        var content=document.getElementById("content");
        var c=content.textContent || content.innerText
        //var result=new Array()
        //result = subject.split(/\r?\n/);
        //read.push({"text":"{{topic}}"});
        //read.push({"text":c});
        var c_split_result = c.split(".");
        function speakContent(){
        for(i = 0; i < c_split_result.length; i++){
        	var u = new SpeechSynthesisUtterance();
          u.text=c_split_result[i];
          u.rate=0.3
          window.speechSynthesis.speak(u);
        	//console.log(c_split_result[i]);
		}
		}
        window.onload = speakContent;
       if (annyang) {
        var srt=false
        var stp=false
        var rpt=false
      // Let's define a command.
         var commands = {
          'wait': function() {console.log("in wait"); window.speechSynthesis.pause(); },
          'start':function() {console.log("in stRT");  window.speechSynthesis.resume();},
          'stop' : function() {
            window.speechSynthesis.cancel();
            },
          'repeat' :function(){ console.log("in REPEAT"); speakContent()},
          'back' :function(){ window.history.back()},
          'help' : function(){ window.speechSynthesis.cancel(); helpme()},
          'refresh' :function(){location.reload()},
          'home': function() { document.getElementById("home").click();},
          'register': function() { document.getElementById("register").click(); },
        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    } 
     </script>
     <script>
  window.onunload=function(){ window.speechSynthesis.cancel(); };
  </script>
{% endblock %}a