
{% extends "base.html" %}
{% load i18n %}
{% load dajaxice_templatetags %}
{% block title %}Topics{% endblock %}
{% dajaxice_js_import %}
{% block main %}
     <script type="text/javascript" src="/static/jquery/jquery-1.8.1.min.js"></script>
     <script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
     <script type="text/javascript" src="/static/js/mespeak/mespeak.js"></script>
     <script type="text/javascript" src="/static/js/annyang.min.js"></script>
     <script type="text/javascript ">
      meSpeak.loadConfig("/static/js/mespeak/mespeak_config.json");
      meSpeak.loadVoice("/static/js/mespeak/voices/en/en.json");
     </script>

<div class="container">
{% if topic_content %}
<h1>{{topic}}</h1>
<h3 id="content">{% autoescape off %}{{ topic_content }}{% endautoescape %}</h3>
{% else %}
    <p>No content is available.</p>
{% endif %}
</div>
<script type="text/javascript">
        function speakContent(){
        var count=1;
        var read = new Array();
        var content=document.getElementById("content");
        var c=content.textContent || content.innerText
        read.push({"text":"{{topic}}"});
        read.push({"text":c});
        console.log(read);
        meSpeak.speakMultipart(read);
        }
        window.onload = speakContent;
     </script>
{% endblock %}