{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}
 
{% block main %}
      
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="jumbotron">
      	<div class="container">
 <h1>Speech Recognition and Speech Synthesis System</h1>
  </div>
        
        
      </div>

      <!-- Example row of columns -->
      <div class="container">
      <div class="row">
        <div class="col-md-4">
        
          <h2>About</h2>
          <p>Talk To Me  (TTM) is a software system that provide  an  interaction  for  blind  students to enhance their educational experiences by providing them with a tool to succeed at every phase of their lives.
 		</p>
          </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          
          <p><a href="{% url auth_login %}" class="btn btn-custom btn-lg" role="button">Login / Register</button></a>  
          	<hr>
                  <a href="/guest/"><a  class="btn btn-default btn-lg" role="button">Guest Area</button></a> </p>
				</hr>
				  
    </div>
      </div>
</div>

{% endblock %}