{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}
{% block main %}
<script type="text/javascript" src="/static/jquery/jquery-1.8.1.min.js"></script>
     <script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
     <script type="text/javascript" src="/static/js/mespeak/mespeak.js"></script>
     <script type="text/javascript" src="/static/js/annyang.min.js"></script>
  	 <script type="text/javascript ">
     	meSpeak.loadConfig("/static/js/mespeak/mespeak_config.json");
    	meSpeak.loadVoice("/static/js/mespeak/voices/en/en.json");
     </script>

<div class="container">
<h3>Choose the subject
    <ol>
        <hr><li><a href="/online_study/unix_toc.html" id = "Unix">Unix</a></li></hr>
        <hr><li><a href="/online_study/dbms_toc.html" id = "DBMS">DataBase Management System</a></li></hr>
        <hr><li><a href="/online_study/softeng_toc.html" id = "SOEN">Software Engineering</a></li></hr>
    </ol></h3>
</div>
<script type="text/javascript">
        function speakSubjects(){
        var count=1;
        var read = new Array();
        read.push({"text":"Choose a subject "});
        var z = $('h3 ol li a').each(function(){
          read.push({"text":"subject"});
          read.push({"text":count});
          read.push({"text":this.text});
          read.push ({"text":"\n"});
          count++;
        });
        console.log(read);
        meSpeak.speakMultipart(read);


            //var z = JSON.parse('{{ opt_list.content }}');
          //  alert(y)
            //meSpeak.speak(y)
        }
        window.onload = speakSubjects;
     </script>
     <script>
     function selectOption(data){
        /*var read = new Array();
        read.push({"text":"you have selected"});
        read.push({"text":document.getElementById(data).text});
        console.log(read);
        meSpeak.speakMultipart(read);*/
        document.getElementById(data).click();
     }
     if (annyang) {
      // Let's define a command.
        var commands = {
          'Unix': function() { selectOption("Unix"); },
          'Database *term': function() { selectOption("DBMS"); },
          'Software *term': function() { selectOption("SOEN"); },
        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
   </script>  
{% endblock %}