{% extends "base.html" %}
{% load i18n %}
{% block title %}My Home{% endblock %}
{% block main %}
<div class="container">
  
  <div class="text-center">
    <p><a href="/questionnaire/subjects" id="1" class="btn btn-custom btn-lg" role="button">Take Test</a></p>
          <hr>
        <p><a href="/onlinestudy/subjects" class="btn btn-custom btn-lg" id="2" role="button">Online Study</a></p>
        </hr>
</div>
    
  </div>
  
</div><!-- /.container -->
  <script type="text/javascript">
    function speakOptions(){
        var u = new SpeechSynthesisUtterance();
        u.text = 'Welcome to talk to me.Please select an option.';
        u.lang = 'en-US';
        u.rate = 1.2;
        window.speechSynthesis.speak(u);  
        var z = $('p a').each(function(){
          var uu = new SpeechSynthesisUtterance();
        uu.text ='speak';
        window.speechSynthesis.speak(uu);
        var vv = new SpeechSynthesisUtterance();
        vv.text=this.text
        window.speechSynthesis.speak(vv);
      });
        console.log(read);
        meSpeak.speakMultipart(read);


        //var z = JSON.parse('{{ opt_list.content }}');
      //  alert(y)
        //meSpeak.speak(y)
        }
        window.onload = speakOptions;
     </script> 
     <script>
     function selectOption(data){
        /*var read = new Array();
        read.push({"text":"you have selected"});
        read.push({"text":document.getElementById(data).text});
        console.log(read);
        meSpeak.speakMultipart(read);*/
        document.getElementById(data).click();
     }
     if (annyang) {
      // Let's define a command.
        var commands = {
          'Take test': function() { selectOption(1); },
          'Online study': function() { selectOption(2); },
          'help' : function(){ window.speechSynthesis.cancel(); helpme()},
          'refresh' :function(){ speakOptions()},
          'home': function() { document.getElementById("home").click();},
          'stop': function() { window.speechSynthesis.cancel(); },
          'repeat' :function(){ window.speechSynthesis.cancel(); speakOptions();},
          'logout': function() { document.getElementById("logout").click(); },
          'back' :function(){ window.history.back()},
        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
   </script>
   <script>
  window.onunload=function(){ window.speechSynthesis.cancel();};
  </script>
{% endblock %}
