{% extends "base.html" %}
{% load i18n %}
{% block title %}My Home{% endblock %}
{% block main %}
<div class="container">
  
  <div class="text-center">
    <p><a href="/questionnaire/subjects" id="1" class="btn btn-custom btn-lg" role="button">Take Test</a></p>
          <hr>
        <p><a href="/onlinestudy/subjects" class="btn btn-custom btn-lg" id="2" role="button">Online Study</a></p>
        </hr>
</div>
    
  </div>
  
</div><!-- /.container -->
  <script type="text/javascript">
    function speakOptions(){
        var count=1;
        var read = new Array();
        read.push({"text":"Welcome to talk to me."});
        read.push({"text":"Please select an option."});
        var z = $('p a').each(function(){
        read.push({"text":"Speak"});
        read.push({"text":this.text});
        read.push ({"text":"\n"});
      });
        console.log(read);
        meSpeak.speakMultipart(read);


        //var z = JSON.parse('{{ opt_list.content }}');
      //  alert(y)
        //meSpeak.speak(y)
        }
        window.onload = speakOptions;
     </script> 
     <script>
     function selectOption(data){
        /*var read = new Array();
        read.push({"text":"you have selected"});
        read.push({"text":document.getElementById(data).text});
        console.log(read);
        meSpeak.speakMultipart(read);*/
        document.getElementById(data).click();
     }
     if (annyang) {
      // Let's define a command.
        var commands = {
          'Take test': function() { selectOption(1); },
          'Online study': function() { selectOption(2); },
          'repeat': function() { speakOptions() },
          'help' : function(){ meSpeak.stop(); helpme()},
          'refresh' :function(){ speakOptions()},
          'home': function() { document.getElementById("home").click();},
          'stop': function() { meSpeak.stop(); },
          'logout': function() { document.getElementById("logout").click(); },
        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
   </script>
{% endblock %}
