{% extends "base.html" %}
{% load i18n %}
{% load dajaxice_templatetags %}
{% block title %}Subjects{% endblock %}
{% dajaxice_js_import %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block main %}
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% dajaxice_js_import %}
     <script type="text/javascript" src="/static/jquery/jquery-1.8.1.min.js"></script>
     <script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
     <script type="text/javascript" src="/static/js/mespeak/mespeak.js"></script>
     <script type="text/javascript" src="/static/js/annyang.min.js"></script>
  	 <script type="text/javascript ">
     	meSpeak.loadConfig("/static/js/mespeak/mespeak_config.json");
    	meSpeak.loadVoice("/static/js/mespeak/voices/en/en.json");
     </script>
<div class="container">
<h1>{{ subject_name }} Questions</h1>
<div id="form_section">
	{% include "questionnaire/mcq_template.html" %}
</div>
</div>
     <script type="text/javascript">
    function setCookie(data,days){
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = data.name+"="+data.value+expires+"; path=/";
    }
   </script>
   <script type="text/javascript">
    function speakQues(){
        var count=1;
        var read = new Array();
        var qid = $(".questionid").text();
        var qcontent = $(".questioncontent").text();
        read.push({"text":"Question"});
        read.push({"text":qcontent});
        var z = $('ol h3 input[type=radio]').each(function(){
          read.push({"text":"option"});
          read.push({"text":count});
          read.push({"text":this.value});
          read.push ({"text":"\n"});
          count++;
        });
        console.log(read);
       // meSpeak.speakMultipart(read);


        //var z = JSON.parse('{{ opt_list.content }}');
      //  alert(y)
        //meSpeak.speak(y)
        }
        window.onload = speakQues;
     </script>
     <!-- Speech recognition !-->
   <script>


   function speakOption(option){
        var count=1;
        var read = new Array();
        read.push({"text" : "You have selected"});
        read.push({"text" : "\n"});
        var z = $('ol h3 input[type=radio]').each(function(){
          if (count == option){
            read.push({"text":"option"});
            read.push({"text":count});
            read.push({"text":this.value});
            read.push ({"text":"\n"});
          }
          count++;
        });
        read.push({"text" : "Say OK to submit your answer"});
        console.log(read);
       // meSpeak.speakMultipart(read);
   }

     function submitAnswer(){
        var qid = $(".questionid").text();
        console.log(qid)
        option = $('input[name='+qid+']:checked', '#question_form').attr('id');
        console.log(option)
        console.log("Question: "+qid+"\nAnswer: "+option) ;
        Dajaxice.questionnaire.response_user(submitAnswerCallback, {'question':qid,'option': option });
     }

     function submitAnswerCallback(data){
        Dajax.process(data);
    /* Your js code */
        speakQues();
     }

    if (annyang) {
      // Let's define a command.
        var commands = {
          'one': function() { $('ol h3 input[type=radio]').eq(0).attr('checked',true); speakOption(1); },
          'two': function() { $('ol h3 input[type=radio]').eq(1).attr('checked',true); speakOption(2); },
          'three': function() { $('ol h3 input[type=radio]').eq(2).attr('checked',true); speakOption(3); },
          'four': function() { $('ol h3 input[type=radio]').eq(3).attr('checked',true); speakOption(4); },
          'five': function() { $('ol h3 input[type=radio]').eq(4).attr('checked',true); speakOption(5); },
          'ok': function() { submitAnswer(); },
        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
   </script>
{% endblock %}