{% extends "base.html" %}
{% load i18n %}
{% load dajaxice_templatetags %}
{% block title %}Subjects{% endblock %}
{% dajaxice_js_import %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block main %}
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% dajaxice_js_import %}
     <script type="text/javascript" src="/static/jquery/jquery-1.8.1.min.js"></script>
     <script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>
     <script type="text/javascript" src="/static/js/mespeak/mespeak.js"></script>
     <script type="text/javascript" src="/static/js/annyang.min.js"></script>
  	 <script type="text/javascript ">
     	meSpeak.loadConfig("/static/js/mespeak/mespeak_config.json");
    	meSpeak.loadVoice("/static/js/mespeak/voices/en/en.json");
     </script>
<div class="container">
<h1>{{ subject_name }} Questions</h1>
<div id="form_section">
	{% include "questionnaire/mcq_template.html" %}
</div>
</div>
     <script type="text/javascript">
    function setCookie(data,days){
        if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
        document.cookie = data.name+"="+data.value+expires+"; path=/";
    }
   </script>
   <script type="text/javascript">
    function speakQues(){
        var count=1;
        var read = new Array();
        var qid = $(".quescounter").text();
        var qcontent = $(".questioncontent").text();
        read.push({"text":"Question"});
        read.push({"text":qid});
        read.push({"text":qcontent});
        var z = $('ol h3 input[type=radio]').each(function(){
          read.push({"text":"option"});
          read.push({"text":count});
          read.push({"text":this.value});
          read.push ({"text":"\n"});
          count++;
        });
        console.log(read);
        meSpeak.speakMultipart(read,{speed:130});


        //var z = JSON.parse('{{ opt_list.content }}');
      //  alert(y)
        //meSpeak.speak(y)
        }
        window.onload = speakQues;
     </script>
     <!-- Speech recognition !-->
   <script>


   function speakOptionSelected(option){
        var count=1;
        var read = new Array();
        read.push({"text" : "You have selected"});
        read.push({"text" : "\n"});
        var z = $('ol h3 input[type=radio]').each(function(){
          if (count == option){
            read.push({"text":"option"});
            read.push({"text":count});
            read.push({"text":this.value});
            read.push ({"text":"\n"});
          }
          count++;
        });
        read.push({"text" : "Say OK to submit your answer"});
        console.log(read);
        meSpeak.speakMultipart(read,{speed:130});
   }

     function submitAnswer(){
      meSpeak.stop();
        var qid = $(".questionid").text();
        console.log(qid)
        option = $('input[name='+qid+']:checked', '#question_form').attr('id');
        console.log(option)
        console.log("Question: "+qid+"\nAnswer: "+option) ;
        Dajaxice.questionnaire.response_user(submitAnswerCallback, {'question':qid,'option': option });
     }

     function submitAnswerCallback(data){
        Dajax.process(data);
    /* Your js code */
        speakQues();
     }
     var status;
     var quit=false;
     function quitFunction() {
      quit=true;
      meSpeak.stop();
      var read = new Array();
      read.push({"text":"Are you sure you want to quit?"});
      read.push({"text":"Say yes to confirm"});
      read.push({"text":"Say no to cancel"});
      meSpeak.speakMultipart(read,{speed:130});
      status = confirm("Are you sure you want to quit?");
      }

    if (annyang) {
      // Let's define a command.
        var commands = {
          'one': function() { $('ol h3 input[type=radio]').eq(0).attr('checked',true); speakOptionSelected(1); },
          'two': function() { $('ol h3 input[type=radio]').eq(1).attr('checked',true); speakOptionSelected(2); },
          'three': function() { $('ol h3 input[type=radio]').eq(2).attr('checked',true); speakOptionSelected(3); },
          'four': function() { $('ol h3 input[type=radio]').eq(3).attr('checked',true); speakOptionSelected(4); },
          'five': function() { $('ol h3 input[type=radio]').eq(4).attr('checked',true); speakOptionSelected(5); },
          'repeat question' : function(){ speakQues()},
          'ok': function() { meSpeak.stop();submitAnswer(); },
          'quit':function() {  
           quitFunction();
           },
           'yes':function() { console.log("hello");if(quit) {status=true; alert("true")}},
           'no':function() { if(quit) {status=false; alert("false")}},
          'back':function() { meSpeak.stop(); meSpeak.speak("this is not allowed",{speed:120}); dialog=bootbox.dialog("Alert", {
    "label" : "Click me!",
    "class" : "success",   // or primary, or danger, or nothing at all
    "callback": function() {
        console.log("not allowed");
    }
});
          setTimeout(function() {
    // be careful not to call box.hide() here, which will invoke jQuery's hide method
    dialog.modal('hide');
}, 3000);
        },
        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
   </script>
{% endblock %}