<form name="question_form" id="question_form" method="POST">
	{% csrf_token %}
	<div id="question-content" >
		<h2>Q<span class="questionid">{{ question.id }}</span>.<span class="questioncontent"> {{ question.content }} </span></h2>
		<ol class="options">
			{% for opt in opt_list %}
			<h3><input type="radio" id ="{{opt.id}}" name="{{question.id}}" value="{{opt.content}}" >{{ opt.content }}</input></h3>
			{% endfor %}
		</ol>
		<input type="button" class="btn btn-custom btn-lg" style="margin-left:50px;" value="Submit" onclick=" submitAnswer();	return false; ">
	</div>
</form>