{% extends "base.html" %}
{% load i18n %}
{% load dajaxice_templatetags %}
{% block title %}Subjects{% endblock %}
{% dajaxice_js_import %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block main %}
<div class="container">
	<h1> Your score is {{ user_score }}</h1>
      <div class="row">
        <center><div class="col-md-12">
          {% if user.is_authenticated %}
          <p><a href="/questionnaire/showdetails" id="3" class="btn btn-custom btn-lg" role="button">Feedback</a></p>
          <hr>
          <p><a href="/questionnaire/subjects" id="1" class="btn btn-custom btn-lg" role="button">Take Test</a></p>
          <hr>
          <p><a href="/onlinestudy/subjects" class="btn btn-custom btn-lg" id="2" role="button">Online Study</a></p>

        </hr>
        {% else %}
          <p><a href="{% url auth_login %}" id="1"  class="btn btn-custom btn-lg" role="button">Login</button></a><p>
          	<hr>
            <p><a href="/onlinestudy/subjects" id="2" class="btn btn-default btn-lg" role="button">Online Study</button></a> </p>
				</hr>
				{% endif %}  
    </div>
</center>
      </div>
</div>
<script>
function speakScore(option){
        var count=1;
        var score={{user_score}}
        var u = new SpeechSynthesisUtterance();
        u.text = 'Your score is';
        u.lang = 'en-US';
        u.rate = 0.5;
        window.speechSynthesis.speak(u);
        var v = new SpeechSynthesisUtterance();
        v.text=score
        v.lang = 'en-US';
        v.rate = 0.5;
        window.speechSynthesis.speak(v);
        speakOptions();
   }
   function speakOptions(){
        var u = new SpeechSynthesisUtterance();
        var v = new SpeechSynthesisUtterance();
        v.lang = 'en-US';
        v.rate = 0.5;
        var status="{{ user.is_authenticated }}"
        var n = status.localeCompare("False");
        if (n == 0)
        {
        v.text = 'Speak Register';
        window.speechSynthesis.speak(v);
        }        
        var z = $('p a').each(function(){
          var uu = new SpeechSynthesisUtterance();
        uu.text ='speak';
        window.speechSynthesis.speak(uu);
        var vv = new SpeechSynthesisUtterance();
        vv.text=this.text
        window.speechSynthesis.speak(vv);
      });
       u.text= 'Speak repeat to listen to options again'
        window.speechSynthesis.speak(u);


        //var z = JSON.parse('{{ opt_list.content }}');
      //  alert(y)
        //meSpeak.speak(y)
        }
   window.onLoad=speakScore()
   </script>
   <script>
     if (annyang) {
      // Let's define a command.
        var commands = {
          
          'help' : function(){ window.speechSynthesis.cancel(); helpme()},
          'refresh' :function(){ window.speechSynthesis.cancel(); speakScore();},
          'home': function() { document.getElementById("home").click();},
          'stop': function() { window.speechSynthesis.cancel(); },
          'repeat' : function(){ window.speechSynthesis.cancel(); speakScore()},
          'logout': function() { document.getElementById("logout").click(); },
          'feedback' :function() { document.getElementById(3).click();},
          'Take Test': function() { document.getElementById(1).click(); },
          'Online Study': function() { document.getElementById(2).click(); },
          'back':function() { window.speechSynthesis.cancel(); var u = new SpeechSynthesisUtterance();
          u.text='This is not allowed';
          window.speechSynthesis.speak(u); dialog=bootbox.dialog("Alert", {
          "label" : "Not allowed!",
          "class" : "success",   // or primary, or danger, or nothing at all
           "callback": function() {
           console.log("not allowed");
    }
});
          setTimeout(function() {
    // be careful not to call box.hide() here, which will invoke jQuery's hide method
    dialog.modal('hide');
}, 3000);
        },
        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
   </script>
    <script>
  window.onunload=function(){ window.speechSynthesis.cancel();};
  </script>
{% endblock %}