<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>Web Speech API Demo</title>
<body>
<script type="text/javascript">
    var u = new SpeechSynthesisUtterance();
     u.text = 'Welcome to talk to me.Please select an option.';
     u.lang = 'en-US';
     u.rate = 0.5;
     window.speechSynthesis.speak(u);
     u.text = 'Hello my name is anushree help me';
     window.speechSynthesis.speak(u);
      u.text = 'Hello Worlfhhd';
     window.speechSynthesis.speak(u);
  </script>
  <script>
  window.onunload=function(){ window.speechSynthesis.cancel(); };
  </script>
</body>
</html>