<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Bootbox Example - Confirm">
<script src="/static/jquery/jquery.min.js"></script>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/bootbox.min.js"></script>
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body>
  
</body><script>
$(document).ready(function () {
  
  
  bootbox.confirm("Are you sure?", function(result) {
    alert('You clicked: ' + result);
}); 
  

  
});
</script>
</html>