{% extends "base.html" %}
{% load i18n %}
{% load dajaxice_templatetags %}
{% block title %}Subjects{% endblock %}
{% dajaxice_js_import %}
{% block main %}
<div class="container">
{% if subject_list %}
<h3>Choose the subject
    <ol>
    {% for subject in subject_list %}
        <hr><li><a href="/questionnaire/{{ subject.id }}/" id = "{{forloop.counter}}">{{ subject.name}}</a></li></hr>
    {% endfor %}
    </ol></h3>
{% else %}
    <p>No subjects are available.</p>
{% endif %}
</div>
<script type="text/javascript">
        function speakSubjects(){
        var count=1;
        var read = new Array();
        read.push({"text":"Choose a subject "});
        var z = $('h3 ol li a').each(function(){
          read.push({"text":"subject"});
          read.push({"text":count});
          read.push({"text":this.text});
          read.push ({"text":"\n"});
          count++;
        });
        console.log(read);
        meSpeak.speakMultipart(read);


            //var z = JSON.parse('{{ opt_list.content }}');
          //  alert(y)
            //meSpeak.speak(y)
        }
        window.onload = speakSubjects;
     </script>
     <script>
     function selectOption(data){
        /*var read = new Array();
        read.push({"text":"you have selected"});
        read.push({"text":document.getElementById(data).text});
        console.log(read);
        meSpeak.speakMultipart(read);*/
        document.getElementById(data).click();
     }
     if (annyang) {
      // Let's define a command.
        var commands = {
          'one': function() { selectOption(1); },
          'two': function() { selectOption(2); },
          'three': function() { selectOption(3); },
          'help' : function(){ meSpeak.stop(); helpme()},
          'refresh' :function(){ location.reload();},
          'home': function() { document.getElementById("home").click();},
          'stop': function() { meSpeak.stop(); },
          'logout': function() { document.getElementById("logout").click(); },

        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
   </script>
{% endblock %}