{% extends "base.html" %}
{% load i18n %}
{% load dajaxice_templatetags %}
{% block title %}Subjects{% endblock %}
{% dajaxice_js_import %}
{% block main %}
<div class="container">
{% if subject_list %}
<h3>Choose the subject
    <ol>
    {% for subject in subject_list %}
        <hr><li><a href="/questionnaire/{{ subject.id }}/instructions" id = "{{forloop.counter}}">{{ subject.name}}</a></li></hr>
    {% endfor %}
    </ol></h3>
{% else %}
    <p>No subjects are available.</p>
{% endif %}
</div>
<script type="text/javascript">
         function speakSubjects(){
        var count=1;
        var u = new SpeechSynthesisUtterance();
        u.text='Choose a subject';
        window.speechSynthesis.speak(u);
        var z = $('h3 ol li a').each(function(){
          var uu = new SpeechSynthesisUtterance();
          uu.text ='subject';
          window.speechSynthesis.speak(uu);
          var v = new SpeechSynthesisUtterance();
          v.text =count
          window.speechSynthesis.speak(v);
          var vv = new SpeechSynthesisUtterance();
          vv.text=this.text
          window.speechSynthesis.speak(vv);
          count++;
        });
        }
        window.onload = speakSubjects;
     </script>
     <script>
     function selectOption(data){
        /*var read = new Array();
        read.push({"text":"you have selected"});
        read.push({"text":document.getElementById(data).text});
        console.log(read);
        meSpeak.speakMultipart(read);*/
        document.getElementById(data).click();
     }
     if (annyang) {
      // Let's define a command.
        var commands = {
          'one': function() { selectOption(1); },
          'two': function() { selectOption(2); },
          'three': function() { selectOption(3); },
          'help' : function(){ window.speechSynthesis.cancel(); helpme()},
          'refresh' :function(){ location.reload();},
          'home': function() { document.getElementById("home").click();},
          'stop': function() { window.speechSynthesis.cancel(); },
          'repeat' :function(){ window.speechSynthesis.cancel(); speakSubjects();},
          'logout': function() { document.getElementById("logout").click(); },
          'back' :function(){  window.speechSynthesis.cancel(); window.history.back()},

        };

      // Add our commands to annyang
      annyang.addCommands(commands);

      // Start listening.
      annyang.start();
    }
   </script>
   <script>
  window.onunload=function(){ window.speechSynthesis.cancel();};
  </script>
{% endblock %}